body {
    background-color: turquoise;
}
.container {
    background-color: teal;
    padding:50px;
   margin-top:12%;
   color:white;
   text-align:center;
   width:45%;
  margin-left:25%;
  font-size:15px;
}
#button{
    background-color: aqua;
    margin-bottom:15px;
}
#button:hover{
    background-color: greenyellow;
}

#author {
    float: right;
}